flows.json
[
    {
        "id": "a1b2c3d4e5f6a7b8",
        "type": "tab",
        "label": "SkillDesk Dashboard",
        "disabled": false,
        "info": "Dashboard do projeto SkillDesk - GS 2025 (ESP32 + MQTT + Node-RED)"
    },
    {
        "id": "mqttMetrics",
        "type": "mqtt in",
        "z": "a1b2c3d4e5f6a7b8",
        "name": "Métricas SkillDesk",
        "topic": "gs2025/skilldesk/grupoX/metrics",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqttBrokerSkillDesk",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 140,
        "y": 80,
        "wires": [
            [
                "jsonMetrics"
            ]
        ]
    },
    {
        "id": "jsonMetrics",
        "type": "json",
        "z": "a1b2c3d4e5f6a7b8",
        "name": "JSON -> Objeto",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 340,
        "y": 80,
        "wires": [
            [
                "fnTemp",
                "fnHum",
                "fnLight",
                "fnStatusText",
                "fnStateText",
                "fnFocusGauge",
                "debugMetrics"
            ]
        ]
    },
    {
        "id": "debugMetrics",
        "type": "debug",
        "z": "a1b2c3d4e5f6a7b8",
        "name": "Debug Métricas",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 610,
        "y": 40,
        "wires": []
    },
    {
        "id": "fnTemp",
        "type": "function",
        "z": "a1b2c3d4e5f6a7b8",
        "name": "Extrair Temperatura",
        "func": "if (typeof msg.payload.temp === \"number\") {\n    msg.payload = msg.payload.temp;\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 100,
        "wires": [
            [
                "gaugeTemp"
            ]
        ]
    },
    {
        "id": "fnHum",
        "type": "function",
        "z": "a1b2c3d4e5f6a7b8",
        "name": "Extrair Umidade",
        "func": "if (typeof msg.payload.humidity === \"number\") {\n    msg.payload = msg.payload.humidity;\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 600,
        "y": 140,
        "wires": [
            [
                "gaugeHum"
            ]
        ]
    },
    {
        "id": "fnLight",
        "type": "function",
        "z": "a1b2c3d4e5f6a7b8",
        "name": "Extrair Luz",
        "func": "if (typeof msg.payload.light === \"number\") {\n    msg.payload = msg.payload.light;\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 590,
        "y": 180,
        "wires": [
            [
                "gaugeLight"
            ]
        ]
    },
    {
        "id": "fnStatusText",
        "type": "function",
        "z": "a1b2c3d4e5f6a7b8",
        "name": "Status Ambiente",
        "func": "const p = msg.payload;\nlet status = p.envStatus || \"?\";\nlet cor = \"#00ff00\";\nlet texto = \"Ambiente OK\";\n\nif (status !== \"OK\") {\n    cor = \"#ff0000\";\n    texto = \"Ambiente DESCONFORTÁVEL\";\n}\n\nmsg.payload = texto;\nmsg.color = cor;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 220,
        "wires": [
            [
                "textEnvStatus"
            ]
        ]
    },
    {
        "id": "fnStateText",
        "type": "function",
        "z": "a1b2c3d4e5f6a7b8",
        "name": "Resumo Sessão",
        "func": "const p = msg.payload;\nconst state = p.state || \"?\";\nconst deep = !!p.deepFocus;\n\nlet estadoLegivel = \"\";\nif (state === \"idle\")      estadoLegivel = \"Ocioso\";\nelse if (state === \"focus\") estadoLegivel = \"Foco\";\nelse if (state === \"break\") estadoLegivel = \"Pausa\";\nelse estadoLegivel = state;\n\nlet texto = `Estado: ${estadoLegivel} | Deep Focus: ${deep ? \"ON\" : \"OFF\"}`;\n\nmsg.payload = texto;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 610,
        "y": 260,
        "wires": [
            [
                "textResumoSessao"
            ]
        ]
    },
    {
        "id": "fnFocusGauge",
        "type": "function",
        "z": "a1b2c3d4e5f6a7b8",
        "name": "Extrair Minutos Foco",
        "func": "if (typeof msg.payload.focusMinutes === \"number\") {\n    msg.payload = msg.payload.focusMinutes;\n    return msg;\n}\nreturn null;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 300,
        "wires": [
            [
                "gaugeFocus"
            ]
        ]
    },
    {
        "id": "gaugeTemp",
        "type": "ui_gauge",
        "z": "a1b2c3d4e5f6a7b8",
        "name": "Temperatura (°C)",
        "group": "groupAmbiente",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Temperatura (°C)",
        "label": "°C",
        "format": "{{value | number:1}}",
        "min": "15",
        "max": "35",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "22",
        "seg2": "27",
        "className": "",
        "x": 860,
        "y": 100,
        "wires": []
    },
    {
        "id": "gaugeHum",
        "type": "ui_gauge",
        "z": "a1b2c3d4e5f6a7b8",
        "name": "Umidade (%)",
        "group": "groupAmbiente",
        "order": 2,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Umidade Relativa",
        "label": "%",
        "format": "{{value | number:0}}",
        "min": "20",
        "max": "80",
        "colors": [
            "#0078ff",
            "#00b500",
            "#ca3838"
        ],
        "seg1": "35",
        "seg2": "65",
        "className": "",
        "x": 870,
        "y": 140,
        "wires": []
    },
    {
        "id": "gaugeLight",
        "type": "ui_gauge",
        "z": "a1b2c3d4e5f6a7b8",
        "name": "Luminosidade",
        "group": "groupAmbiente",
        "order": 3,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Luminosidade (0-4095)",
        "label": "",
        "format": "{{value}}",
        "min": "0",
        "max": "4095",
        "colors": [
            "#1f77b4",
            "#ffbf00",
            "#f03b20"
        ],
        "seg1": "1000",
        "seg2": "3200",
        "className": "",
        "x": 890,
        "y": 180,
        "wires": []
    },
    {
        "id": "textEnvStatus",
        "type": "ui_text",
        "z": "a1b2c3d4e5f6a7b8",
        "group": "groupAmbiente",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Status Ambiente",
        "label": "Status Ambiente",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 900,
        "y": 220,
        "wires": []
    },
    {
        "id": "textResumoSessao",
        "type": "ui_text",
        "z": "a1b2c3d4e5f6a7b8",
        "group": "groupResumo",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Resumo Sessão",
        "label": "Sessão Atual",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 900,
        "y": 260,
        "wires": []
    },
    {
        "id": "gaugeFocus",
        "type": "ui_gauge",
        "z": "a1b2c3d4e5f6a7b8",
        "name": "Minutos de foco na sessão",
        "group": "groupSessao",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Minutos de foco (sessão atual)",
        "label": "min",
        "format": "{{value}}",
        "min": "0",
        "max": "60",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "25",
        "seg2": "45",
        "className": "",
        "x": 930,
        "y": 300,
        "wires": []
    },
    {
        "id": "mqttAlerts",
        "type": "mqtt in",
        "z": "a1b2c3d4e5f6a7b8",
        "name": "Alertas SkillDesk",
        "topic": "gs2025/skilldesk/grupoX/alerts",
        "qos": "0",
        "datatype": "auto",
        "broker": "mqttBrokerSkillDesk",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 150,
        "y": 380,
        "wires": [
            [
                "jsonAlerts"
            ]
        ]
    },
    {
        "id": "jsonAlerts",
        "type": "json",
        "z": "a1b2c3d4e5f6a7b8",
        "name": "JSON Alertas",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 340,
        "y": 380,
        "wires": [
            [
                "fnFormatAlert",
                "debugAlerts"
            ]
        ]
    },
    {
        "id": "fnFormatAlert",
        "type": "function",
        "z": "a1b2c3d4e5f6a7b8",
        "name": "Formatar Alerta",
        "func": "const p = msg.payload;\n\nconst temp = p.temp;\nconst hum  = p.humidity;\nconst light = p.light;\nconst env = p.envStatus || \"?\";\nconst state = p.state || \"?\";\n\nlet estadoLegivel = state;\nif (state === \"idle\")      estadoLegivel = \"Ocioso\";\nelse if (state === \"focus\") estadoLegivel = \"Foco\";\nelse if (state === \"break\") estadoLegivel = \"Pausa\";\n\nlet texto = `Alerta | Estado: ${estadoLegivel} | Env: ${env} | T: ${temp.toFixed(1)}C | H: ${hum.toFixed(0)}% | L: ${light}`;\n\nmsg.payload = texto;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 1,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 570,
        "y": 380,
        "wires": [
            [
                "textAlertas"
            ]
        ]
    },
    {
        "id": "debugAlerts",
        "type": "debug",
        "z": "a1b2c3d4e5f6a7b8",
        "name": "Debug Alertas",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 420,
        "wires": []
    },
    {
        "id": "textAlertas",
        "type": "ui_text",
        "z": "a1b2c3d4e5f6a7b8",
        "group": "groupAlertas",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Último Alerta",
        "label": "Último alerta recebido",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "x": 820,
        "y": 380,
        "wires": []
    },
    {
        "id": "mqttBrokerSkillDesk",
        "type": "mqtt-broker",
        "name": "HiveMQ Public",
        "broker": "broker.hivemq.com",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    },
    {
        "id": "groupAmbiente",
        "type": "ui_group",
        "name": "Ambiente de Trabalho",
        "tab": "tabSkillDesk",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "groupResumo",
        "type": "ui_group",
        "name": "Resumo Geral",
        "tab": "tabSkillDesk",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "groupSessao",
        "type": "ui_group",
        "name": "Sessão de Foco",
        "tab": "tabSkillDesk",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "groupAlertas",
        "type": "ui_group",
        "name": "Alertas",
        "tab": "tabSkillDesk",
        "order": 4,
        "disp": true,
        "width": "12",
        "collapse": false
    },
    {
        "id": "tabSkillDesk",
        "type": "ui_tab",
        "name": "SkillDesk",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "fd21a93e536de5d1",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-dashboard": "3.6.6"
        }
    }
]